@model ERP_App.Models.FilterProductMV
@using ERP_App.Models
@using ERP.DatabaseLayer
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@{
    BusinessERP_DBEntities DB = new BusinessERP_DBEntities();
    int row = 0;
    int totalQty = 0;
    decimal totalBill = 0;
}

<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <h3 style="text-align:center;">Your Cart</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th style="font-weight:bold; font-size: medium;" class="product-th">Product Picture</th>
                                    <th style="font-weight:bold; font-size: medium;" class="product-th">Product Name</th>
                                    <th style="font-weight:bold; font-size: medium;" class="product-th">Sale Price</th>
                                    <th style="font-weight:bold; font-size: medium;" class="quy-th">Quantity</th>
                                    <th style="font-weight:bold; font-size: medium;" class="total-th">Price</th>
                                    <th style="font-weight:bold; font-size: medium;" class="total-th">Remove</th>
                                </tr>
                            </thead>
                            @if (Session["myCart"] != null)
                            {
                                foreach (var item in (List<StockMV>)Session["MyCart"])
                                {
                                    <tbody>
                                        <tr>
                                            <td class="product-col">
                                                <img src="@Url.Content(item.ProductPicture)" width="50px" height="50px" alt="">
                                            </td>
                                            <td>
                                                <div class="pc-title">
                                                    <h3>@item.ProductName</h3>
                                                    <p>@item.Description</p>
                                                    @{ 
                                                        var available = DB.tblStocks.Where(x => x.ProductID == item.ProductID).Select(x=>x.Quantity).FirstOrDefault();
                                                    }
                                                    <p>Available Stock: @available</p>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="pc-title">
                                                    <p>@item.SaleUnitPrice</p>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("MinusToCart","Home",new { RowNo = row })" class="btn btn-danger fa fa-minus"></a>
                                                <b>@item.Quantity</b>
                                                <a href="@Url.Action("PlusToCart","Home",new { RowNo = row })" class="btn btn-danger fa fa-plus"></a>
                                            </td>
                                            <td class="total-col">
                                                <h4>@( (decimal.Parse(item.SaleUnitPrice.ToString())) * (int.Parse(item.Quantity.ToString())))</h4>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("RemoveFromCart","Home",new { RowNo = row })" class="btn btn-danger fa fa-times"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    row++;
                                    totalQty += item.Quantity;
                                    totalBill += (decimal.Parse(item.SaleUnitPrice.ToString())) * (int.Parse(item.Quantity.ToString()));
                                    Session["totalAmount"] = totalBill;
                                }
                            }
                            @if (Session["myCart"] == null || row == 0)
                            {
                                <tr>
                                    <td colspan="6" align="center" style="color:red">Your Shopping Cart is Empty...<a href="@Url.Action("Shop","Home")">Click here to Buy</a></td>
                                </tr>
                            }

                        </table>
                    </div>
                    <div class="total-cost">
                        <div class="row">
                            <div class="col-5">
                                <h6><span><a style="color:white" href="@Url.Action("Shop","Home")">Continue Shopping>>>></a></span></h6>
                            </div>
                            <div class="col-4">
                                <h6><span>@totalQty</span></h6>
                            </div>
                            <div class="col-3">
                                <h6><span>@totalBill</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @using (Html.BeginForm("PayNow", "Home", FormMethod.Post, new { @class = "promo-code-form" }))
            {

        <div class="col-lg-6" style="float:right;">
            <h4 style="text-align:center;">Customer Information</h4>
            <h5><a class="fa fa-user" href="@Url.Action("Login","Customers")" style="text-decoration:none;color:mediumvioletred;">Customer Login</a></h5>
            <br />
            @if (Session["Customer"] != null)
            {
                tblCustomer c = (tblCustomer)Session["Customer"];
                <input maxlength="20" min="3" id="onlycharacter" type="text" placeholder="Enter Customer Name" name="OrderName" value="@c.Customername" required><span id="errmsg"></span>
                <input type="email" placeholder="Enter your Email" name="OrderEmail" value="@c.CustomerEmail" required>
                <input id="onlynumber" type="text" placeholder="Enter your Phone No" name="OrderContact" value="@c.CustomerContact" required><span id="errmsg"></span>
                <input type="text" placeholder="Enter your Address" name="OrderAddress" value="@c.CustomerAddress" required>
            }
            else
            {
                <input maxlength="20" min="3" id="onlycharacter" type="text" placeholder="Enter Customer Name" name="OrderName" required><span id="errmsg"></span>
                <input type="email" placeholder="Enter your Email" name="OrderEmail" required>
                <input id="onlynumber" type="text" placeholder="Enter your Phone No" name="OrderContact" required><span id="errmsg"></span>
                <input type="text" placeholder="Enter your Address" name="OrderAddress" required>
            }

        </div>
                <div class="col-lg-6" style="float:left;">
                    <h4 style="text-align:center;">Order Summary</h4><br />
                    <div class="d-flex">
                        <h6>Sub Total</h6>
                        <div class="ml-auto font-weight-bold">Rs: @totalBill</div>
                    </div>
                    <div class="d-flex">
                        <h6>Discount</h6>
                        <div class="ml-auto font-weight-bold">Rs: 0</div>
                    </div>

                    <div class="d-flex">
                        <h6>Tax</h6>
                        <div class="ml-auto font-weight-bold">Rs: 0</div>
                    </div>
                    <div class="d-flex">
                        <h6>Shipping Cost</h6>
                        <div class="ml-auto font-weight-bold">Free</div>
                    </div>
                    <div>
                        <h6>Payment Mode</h6>
                        <div>
                            <input type="radio" style="height:15px; width:15px;" name="OrderStatus" value="Cash on Delivery" checked />Cash on Delivery
                            <input type="radio" style="height:15px; width: 15px;" name="OrderStatus" value="Paid" /> Pay with Paypal
                        </div>
                    </div>
                    <div class="d-flex">
                        <h5>Grand Total</h5>
                        <div class="ml-auto font-weight-bold">Rs: @totalBill</div>
                    </div>
                </div>
                if (Session["myCart"] != null)
                {
                    <input class="site-btn" type="submit" value="CHeckout">
                }
            }



        </div>
    </div>
</section>
<!-- cart section end -->
<!-- Related product section -->
<section class="related-product-section">
    <div class="container">
        <div class="section-title text-uppercase">
            <h2>Continue Shopping</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var p in Model.Products)
            {
                <div class="product-item">
                    <div class="pi-pic">
                        <img width="263px" height="300px" src="@Url.Content(p.ProductPicture)" alt="">
                        <div class="pi-links">
                            <a href="@Url.Action("AddToCart","Home",new { id = p.ProductID})" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="~/Content/Customer/#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>@p.SaleUnitPrice</h6>
                        <p>@p.ProductName</p>
                        <p>@p.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script src="~/Content/Customer/js/jquery-3.2.1.min.js"></script>
<!-- Related product section end -->
<script type="text/javascript">
    window.onload = function () { window.scrollBy(0, 180); }
    $(document).ready(function () {
        //called when key is pressed in textbox
        $("#onlynumber").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $("#onlycharacter").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                //display error message
                $("#errmsg").html("Only character").show().fadeOut("slow");
                return false;
            }
        });
    });


</script>