@model ERP_App.Models.PrintPurchaseInvoiceMV
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Print Invoice</title>
    <!-- =============== VENDOR STYLES ===============-->
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="~/Content/Template/vendor/font-awesome/css/font-awesome.css">
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="~/Content/Template/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- ANIMATE.CSS-->
    <link rel="stylesheet" href="~/Content/Template/vendor/animate.css/animate.css">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="~/Content/Template/vendor/whirl/dist/whirl.css">
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.css" id="bscss">
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/app.css" id="maincss">
</head>

<body>
    <div class="wrapper">
            <!-- Page content-->
            <div class="content-wrapper">
                <div class="content-heading">
                    Invoice
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h3 class="m-0">Invoice @Model.InvoiceHeader.InvoiceNo</h3>

                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-xl-4 col-6 br py-2">
                                <div class="row">
                                    <div class="col-lg-2 text-center d-none d-lg-block">
                                        <em class="fa fa-plane fa-4x text-muted"></em>
                                    </div>
                                    <div class="col-lg-10">
                                        <h4>@Model.branch.BranchName</h4>
                                        <address></address>@Model.branch.BranchContact
                                        <br>@Model.branch.BranchAddress

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-6 br py-2">
                                <div class="row">
                                    <div class="col-lg-2 text-center d-none d-lg-block">
                                        <em class="fa fa-truck fa-4x text-muted"></em>
                                    </div>
                                    <div class="col-lg-10">
                                        <h4>@Model.supplier.SupplierName</h4>
                                        <address></address>@Model.supplier.SupplierConatctNo
                                        <br>@Model.supplier.SupplierEmail
                                        <br>@Model.supplier.SupplierAddress
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-xl-4 col-12 py-2">
                                <div class="clearfix">
                                    <p class="float-left">INVOICE NO.</p>
                                    <p class="float-right mr-2">@Model.InvoiceHeader.InvoiceNo</p>
                                </div>
                                <div class="clearfix">
                                    <p class="float-left">Date</p>
                                    <p class="float-right mr-2">@Model.InvoiceHeader.InvoiceDate</p>
                                </div>
                                <div class="clearfix">
                                    <p class="float-left">Due Date</p>
                                    <p class="float-right mr-2">@Model.InvoiceHeader.InvoiceDate</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-bordered mb-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Item #</th>

                                        <th>Manufacture Date</th>
                                        <th>Expiry Date</th>
                                        <th>Purchase Quantity</th>
                                        <th>Purchase Unit Price</th>
                                        <th class="text-right">Item Cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InvoiceDetails)
                                    {
                                        <tr>
                                            <td>@item.ProductName</td>
                                            <td>@item.ManufactureDate</td>
                                            <td>@item.ExpiryDate</td>
                                            <td>@item.PurchaseQuantity</td>
                                            <td>@item.purchaseUnitPrice</td>
                                            <td class="text-right">@item.ItemCost</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6 py-2">
                                <div class="row mb-3">
                                    <div class="col-8">Subtotal</div>
                                    <div class="col-4">
                                        <div class="text-right">@Model.InvoiceHeader.SubTotalAmount</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-8">Tax (3%)</div>
                                    <div class="col-4">
                                        <div class="text-right">@Model.InvoiceHeader.EstimatedTax</div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-8">Shipping Fee</div>
                                    <div class="col-4">
                                        <div class="text-right">@Model.InvoiceHeader.ShippingFee</div>
                                    </div>
                                </div>
                                <div class="row mb-3 align-items-center">
                                    <div class="col-7">
                                        <div class="h3">GRAND TOTAL</div>
                                    </div>
                                    <div class="col-5">
                                        <div class="text-right h3">@Model.InvoiceHeader.TotalAmount</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="d-print-none">
                        <div class="clearfix">
                            @Html.ActionLink("Cancel", "PurchaseStockProducts", null, new { @class = "btn btn-info float-left mr-2" })
                            <button class="btn btn-secondary float-left" type="button" onclick="window.print();">Print</button>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/Content/Template/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/Content/Template/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/Content/Template/vendor/popper.js/dist/umd/popper.js"></script>
    <script src="~/Content/Template/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/Content/Template/vendor/js-storage/js.storage.js"></script>
    <!-- JQUERY EASING-->
    <script src="~/Content/Template/vendor/jquery.easing/jquery.easing.js"></script>
    <!-- ANIMO-->
    <script src="~/Content/Template/vendor/animo/animo.js"></script>
    <!-- SCREENFULL-->
    <script src="~/Content/Template/vendor/screenfull/dist/screenfull.js"></script>
    <!-- LOCALIZE-->
    <script src="~/Content/Template/vendor/jquery-localize/dist/jquery.localize.js"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- =============== APP SCRIPTS ===============-->
    <script src="~/Content/Template/js/app.js"></script>
</body>

</html>