@model IEnumerable<ERP.DatabaseLayer.tblStock>

@{
    int number = 0;
    ViewBag.Title = "Stock Report";
}

@using (Html.BeginForm("StockReport", "Purchase", FormMethod.Post))
{
    <table class="table table-striped table-hover w-100">
        <tr>
            <th style="padding:3px;">Date From:</th>
            <td style="padding:5px;"><input type="datetime-local" readonly="readonly" name="DateFrom" class="form-control" value="@ViewBag.DateFrom" /></td>
            <th style="padding:3px;">Data To:</th>
            <td style="padding:5px;"><input type="datetime-local" name="DateTo" class="form-control" value="@ViewBag.DateTo" /></td>
            <td style="padding:5px;"><input id="btn2" type="submit" value="Generate Report" class="btn btn-danger btn-block" /></td>
        </tr>
        <tr>
            <th style="padding:3px;">Category:</th>
            <td style="padding:5px;"> @Html.DropDownList("Category", ViewBag.Category as SelectList, "Select Category", htmlAttributes: new { @class = "form-control", @onchange = "myFunction()" })</td>
            <th style="padding:3px;">Product:</th>
            <td style="padding:5px;"> @Html.DropDownList("Product", ViewBag.Product as SelectList, "Select Product", htmlAttributes: new { @class = "form-control" })</td>
            <td style="padding:5px;"><input id="btn1" type="button" onclick="return PrintFunction();" value="Print Report" class="btn btn-danger btn-block" /></td>
        </tr>
    </table>
}

<br />

<div class="content-heading" style="text-align:center;">Stock Report</div>
<table class="table table-striped table-hover w-100" id="datatable1">
    <thead>
        <tr>
            <th>Sr #</th>
            <th>Product Picture</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Purchase Price</th>
            <th>Sale Price</th>
            <th>Available Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            number++;
            <tr>
                <td>@number</td>
                <td><img height="120px" width="120px" src="@Url.Content(p.ProductPicture)" /></td>
                <td>@p.ProductName</td>
                <td>@p.Description</td>
                <td>@p.CurrentPurchaseUnitPrice</td>
                <td>@p.SaleUnitPrice</td>
                @*<td>@p.tblOrderDetails.Where(x => x.tblOrder.OrderDate <= Convert.ToDateTime(ViewBag.DateTo)).Sum(x => x.Quantity)</td>*@
                <td>@p.Quantity</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function myFunction() {
        var CategoryID = $("#Category").val();
        $.ajax({
            type: "GET",
            url: "/Purchase/GetProduct?categoryID=" + CategoryID,
            data: [],
            success: function (data) {
                var s = '<option value ="-1">---Select---</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value ="' + data[i].ProductID + '">' + data[i].ProductName + '</option>';
                }
                $("#Product").html(s);
            }
        });
    }
</script>